<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Feature Tests">
            <directory>./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="BROADCAST_DRIVER" value="log"/>
    </php>
</phpunit>
