/*--------------------------------------------*/
/*-------------DIVERS--------------*/
/*--------------------------------------------*/
.Image-small{
	width: 100px;
}
.Image-Logo{
  max-height: 400px;
  max-width: 400px;
}
.Image-Aricle{
	width: 100%;
}
body {
	background: #34495e;
}

/*--------------------------------------------*/
/*-------------CONBEXION--------------*/
/*--------------------------------------------*/

.container input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.container button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.container button:hover {
	opacity: 0.8;
}
	
.container {
	padding: 16px;
	margin:auto;
}

span.psw {
	float: right;
	padding-top: 16px;
}

.modal {
	position: fixed; 
	z-index: 8; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto;
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; 
	border: 1px solid #888;
	width: 30%; 
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
	
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}
.transition{
	text-align:center;
	background-color: white;
	width:30%;
	padding-top:30px;
	margin:50px auto 50px auto ;
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;

}

/*--------------------------------------------*/
/*-------------HOME--------------*/
/*--------------------------------------------*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50.35%;
  margin-left: -3px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 43.7%;
}

.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content-timeline {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container-timeline {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}


/*--------------------------------------------*/
/*------------- CARD TYPE --------------*/
/*--------------------------------------------*/

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	text-align: center;
	background-color: #f1f1f1;
}

.card button {
	  border: none;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color: #566473;
	  text-align: center;
	  cursor: pointer;
	  width: 100%;
	  font-size: 18px;
}

.card button:hover, a:hover {
  opacity: 0.7;
}

ul, #myUL {
	list-style-type: none;
}

.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/*--------------------------------------------*/
/*-------------FIND LIST --------------*/
/*--------------------------------------------*/
#myInput {
  background-image: url('../css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  width: 90%;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 700px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: black;
}

#myUL li a.normal {	 color: black;}
#myUL li a.success {color: #4CAF50;}
#myUL li a.info {color: #2196F3;}
#myUL li a.warning {color: #ff9800;}
#myUL li a.alert {color: #f44336;}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
/*--------------------------------------------*/
/*-------------ARTICLE PAGE --------------*/
/*--------------------------------------------*/
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    -webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}
.tree a {
  margin-top: -1px; /* Prevent double borders */
  text-decoration: none;
  color: black;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto;
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px;
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:30px;
    width:25px;
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
}
.tree li.parent_li>span {
    cursor:pointer;
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0;
}
.tree li:last-child::before {
    height:30px;
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000;
}
/*---------------------------------------------*/
/*-------GRAND_CALLENDRIER------------*/
/*---------------------------------------------*/

.jour_vide {
 	border: 1px solid white;
 	background-color: white;
	width: 100px;
	height: 100px;
	padding: 2px;
}
.eventslist{
 	background-color: rgb(253, 219, 219);
	width: 100%;
	height: 85px;
	padding: 2px;
}

/*---------------------------------------------*/
/*-------DRAG'N DROP FILE------------*/
/*---------------------------------------------*/

#drop_file_zone {
  font-size: 1.25rem; /* 20 */
  background-color: #c8dadf;
  position: relative;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
}

.upload-area{
  width: 70%;
  border: 2px solid lightgray;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  overflow: auto;
}

.upload-area:hover{
  cursor: pointer;
}

.upload-area h1{
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 50px;
  color: darkslategray;
}

#file{
  display: none;
}

/* Thumbnail */
.thumbnail{
  width: 150px;
  height: 150px;
  padding: 50px;
  border: 2px solid lightgray;
  border-radius: 3px;
  float: left;
}

.size{
  font-size:12px;
}


/*---------------------------------------------*/
/*-------GRID TYPE------------*/
/*---------------------------------------------*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  margin: 0px 8px 8px 8px;
}
.column-dashboard {
  text-align: center;
  box-shadow: 1px 1px 15px rgb(192 192 192 / 20%);
  border: 1px solid #e9e9e9;
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  margin: 0px 8px 8px 8px;
  background-color: white;
  border-radius: 0 0 0 20px;
}
.column-menu {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  max-width:30%;
  margin: 8px 8px 8px 8px;
}
.column-large {
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
  margin: 8px 8px 8px 8px;
}

.column table{
  margin-top: 8px;
  vertical-align: top;
  width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}