/*--------------------------------------------*/
/*-------------DIV ONGLET--------------*/
/*--------------------------------------------*/
.tab {
	top: 60px;
	left: 0;
	overflow: hidden;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 5;
	width: 100%; 
	margin-left:0px;
}

.tab button {
	color: #566473;
	font-family: 'Lato', Arial, sans-serif;
	background: #FFFFFF;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 14px 14px 14px;
	transition: 0.3s;
	font-size: 17px;
}

.tab button:hover {
	color: #FFFFFF;
	background:#566473;
}

.tab button.active {
	color: #FFFFFF;
	background:#566473;
}

.tabcontent {
	margin-top:150px;
	display: none;
	padding: 6px 12px;
	animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*--------------------------------------------*/
/*-------------UI --------------*/
/*--------------------------------------------*/
/* Style the navigation bar */
.navbar {
	position: fixed;
	z-index:10;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background-color:white;
	border-bottom: 1px dotted #566473;
  }
  
  /* Navbar links */
  .navbar a {
	height: 45px;
	text-decoration: none;
	text-align: center;
	color: #566473;
	font-family: 'Lato', Arial, sans-serif;
	background: #FFFFFF;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px 14px 0px 14px;
	transition: 0.3s;
	font-size: 17px;
  }
 
  /* Navbar links on mouse-over */
  .navbar a:hover {
	background: #566473;
	color: white;
  }
  .profil-nav{
	float:right;
  }
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
	@media screen and (max-width: 500px) {
		.navbar a {
		float: none;
		display: block;
		}
	}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.99);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: left;
  padding-left:20%;
  color: #52A19A;
}

.overlay a {
  padding-top: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.picture-profil-uiimg {
	border-radius: 50%;
	width: 50px;
}

/*--------------------------------------------*/
/*-------------DIVERS--------------*/
/*--------------------------------------------*/
#impression{
  margin:auto;   
  text-align: center;
}
#imagegraphique{
  margin:auto;   
  text-align: center;
}

.message{
	margin:auto; 
	Margin-top:100px;
	width: 90%;	
	text-align: center;
	color:black;
	background-color : White;
	Padding:50px;

}

/*--------------------------------------------*/
/*-------------CALLOUT BOX NOTIFICATION--------------*/
/*--------------------------------------------*/
.callout {
	position: fixed;
	bottom: 35px;
	right: 20px;
	margin-left: 20px;
	max-width: 300px;
	transition: 0.5s;
  }
  
  .callout-header {
	padding: 25px 25px;
	background: #555;
	font-size: 20px;
	color: white;
  }
  
  .callout-container {
	padding: 15px;
	background-color: #ccc;
	color: black
  }
  
  .closebtn {
	position: absolute;
	top: 5px;
	right: 15px;
	color: white;
	font-size: 30px;
	cursor: pointer;
  }
  
  .closebtn:hover {
	color: lightgrey;
  }

  .alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;
  }
	.alert.success {background-color: #4CAF50;}
	.alert.info {background-color: #2196F3;}
	.alert.warning {background-color: #ff9800;}
  
  .closebtnligne {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .closebtnligne:hover {
	color: black;
  }
  .badge {
	position: absolute;
	top: -10px;
	left: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background: red;
	color: white;
  }